extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Markus Vaughn

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Hi there, I'm a Full Stack JavaScript Developer. I make interactive websites and web applications for people and businesses. All of my professional life I've worked with computers online. I spend most of my time coding while making web applications and going for walks outside. Just enjoying nature.
        
          .symbols
          
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li API
          li React
          li Node.js
          li Express
          li Pug
          li Sequelize
          li SQL
          li Databases
          li Git
          li GitHub
          li Photoshop
        h6 Contact Info

        ul
          li markusvaughn9@gmail.com

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back

  script(src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous")
  script(src='/public/js/symbols.js')